@import './../Shared/Styles/reset'
@import './../Shared/Styles/vars'

#root
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    min-height: 100vh