@import ./../../Shared/Styles/_vars

.field
    background-color: $field-bg-blue
    border: 1px solid #696969


    width: 30px
    height: 30px

    &--opened
        background-color: $field-bg-green

    &--bomb
        background-color: $field-bg-orange

    &:hover
        background-color: #b1ffff
